.select-player {
    width: 90%;
    max-width: 700px;
    
}

.select-player__button {
    cursor: pointer;
    border-radius: 50px;
    border: 3px solid $buttons-border;
    background-color: $button-background-color  ;
    color: $texts-color;
    min-width: 200px;
    padding: 10px 50px;
    margin: 30px;
    display: flex;
    justify-content: center;
  }

  .nought-path {
      stroke: $texts-color;
      stroke-width: 3;
  }