html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: $body-background;
}

button {
  cursor: pointer;
  border-radius: 50px;
  border: 3px solid $buttons-border;
  background-color: $button-background-color  ;
  color: $texts-color;
  width: 260px;
  padding: 10px 50px;
  margin: 30px;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}
