// Colors
$body-background: #264653;
$buttons-border: #F4A261;
$texts-color: #E9C46A;
$button-background-color: #2A9D8F;
$modal-background-color: #E76F51;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
